div.fe-h-dvchungtoi{
  width: 99%;
  margin: auto;
  background-color: #000;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

div.fe-h-dvchungtoi:hover div.fe-h-dvchungtoi-hover{
  bottom: 0;
}

div.fe-h-dvchungtoi-hover{
  position: absolute;
  background-color: #043d89;
  z-index: 2;
  bottom: -27%;
  height: 50%;
  width:100%;
  opacity: 0.8;
  transition: .3s;
}

div.fe-h-dvchungtoi-hover span{
  font-weight: bold;
  font-size: 18px;
}

div.fe-h-dvchungtoi-hover i{
  text-align: center;
  border: 2px solid white;
  padding: 8px;
  margin-right: 5px;
  border-radius: 50%;

}

div.fe-h-dvchungtoi-hover a {
  color: white;
  transition: .3s;
}

@media (min-width: 440px) and (max-width: 768px) {



  div.fe-h-dvchungtoi-hover span{
    font-weight: bold;
    font-size: 22px;
  }

  div.fe-h-dvchungtoi-hover i{
    font-size: 30px;

  }

  div.fe-h-dvchungtoi-hover p{
    font-size: 23px;
  }

  div.fe-h-dvchungtoi-hover{
    height: 100%;
    bottom: -85%;

  }
}

@media (min-width: 300px) and (max-width: 439px) {

  div.fe-h-dvchungtoi-hover{
    bottom: -28%;
  }


}


@media (min-width: 769px) and (max-width: 1000px) {


  div.fe-h-dvchungtoi-hover span{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
  }

  div.fe-h-dvchungtoi-hover i{
    font-size: 24px;

  }

  div.fe-h-dvchungtoi-hover{
    height: 100%;
    bottom: -70%;

  }



}
